Irixi_Aligner_Common/bin/
4x25_Aligner/obj/
Irixi_Aligner_Common/obj/
4x25_Aligner/
Thorlabs_test/
StepperControllerDebuger/bin/
StepperControllerDebuger/obj/
StepperControllerLib/obj/
USBHIDDRIVER/bin/
USBHIDDRIVER/obj/
StepperControllerLib/bin/
packages/
Irixi_Aligner_Common/ExtDlls/
log/

\.vs/

Irixi_Aligner_Common/Configuration/motion_controller - Copy\.json
