<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
        <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <userSettings>
      <DXThemeManager>
        <setting name="ApplicationThemeName" serializeAs="String">
          <value>DXStyle</value>
        </setting>
      </DXThemeManager>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
